* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    
}

.header_1 {
    display: flex;
    justify-content: space-between;
    
  
}

.header_2 {
    height: 60px;
    background-color: background-color: #429ef5;
    
    .navbar {
    display: flex;
    justify-content: space-around;
   /*  margin-left: 15px;
    margin-right: 15px;
     */
    }
}

.div_1 {
    display: flex;
    gap: 20px;
}